################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/.vs/ChartDoc.Api/v15/Server/sqlite3
